<app-navigation-bar></app-navigation-bar>
<!-- about-us.component.html -->
<div class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold text-gray-900 mb-6">About Us</h1>
    <p class="text-lg text-gray-700 mb-6">Welcome to StepZone, your go-to destination for stylish and comfortable footwear. Since 2024, we have been dedicated to offering high-quality shoes that cater to the needs of men, women, and kids. Our mission is to provide the latest trends, superior comfort, and exceptional customer service, ensuring that each pair of shoes enhances your lifestyle.</p>
  
    <p class="text-lg text-gray-700 mb-6">At StepZone, we believe that everyone deserves to look and feel great. That's why we offer a wide range of categories</p>
  
    
  
    <p class="text-lg text-gray-700 mb-6">Our e-commerce platform allows you to browse, select, and purchase your favorite styles with ease. Whether you are looking to shop online or place an order, StepZone makes the process seamless, secure, and convenient.</p>
    <p class="text-lg text-gray-700">Thank you for choosing StepZone. We look forward to serving you and ensuring that your footwear needs are always met with the best quality and service.</p>
</div>

<style>
    .container {
        max-width: 1200px;
    }

    .category-item {
        transition: transform 0.3s ease-in-out;
    }

    .category-item:hover {
        transform: translateY(-5px);
    }
</style>
<app-footer></app-footer>